.container {
  width: 220px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  margin-top: 500px;
}

.wrap1,
.wrap2,
.wrap3 {
  width: 100px;
  height: 100px;
  border: none;
  position: absolute;
}

.wrap1 {
  background-color: red;
}
.wrap2 {
  background-color: blue;
  top: 60px;
  left: 60px;
  z-index: 3;
}
.wrap3 {
  background-color: greenyellow;
  top: 120px;
  left: 120px;
}
